section(class='top-slider-thumbs-container')
	div(class='swiper tutorial-single-slider')
		div(class='swiper-wrapper')
			-for(let i=1; i <=10; i++)
				div(class='swiper-slide tutorial-single-slider__item')
					div(class='tutorial-single-slider__container')
						img(src="images/bitcoin-bg-video2.webp", class='tutorial-single-slider__bg-img' alt="")
						div(class='tutorial-single-slider__text-container')
								span(class='tutorial-single-slider__category') Full Cash App:
								span(class='tutorial-single-slider__title') Bitcoin Tutorial #{i}
								span(class='tutorial-single-slider__sub-title from-lg') Introduction
								span(class='tutorial-single-slider__description from-lg') Dive into our collection of easy-to-follow video tutorials designed to make depositing funds for your online gaming adventures a breeze.
								span(class='tutorial-single-slider__play') 
									img(src="images/play_arrow.svg", alt="") 
									|WATCH NOW.
								span(class='tutorial-single-slider__sub-title from-lg') Featured
								span(class='tutorial-single-slider__description from-lg') Whether you're a seasoned gamer or a newcomer, our step-by-step guides will ensure you spend less time figuring out payments and more time enjoying your favorite games. 
	div(class='swiper tutorial-thumbs-slider')
		div(class='swiper-wrapper')
			-for(let i = 1; i<=10; i++ )
				div(class='swiper-slide tutorial-thumbs-slider__item')
					img(src="images/thumbnail.webp", alt="") 
					div(class='tutorial-thumbs-slider__text-container')
						span(class='tutorial-thumbs-slider__item-title') Lorem ipsum dolor sit amet item #{i}
						span(class='tutorial-thumbs-slider__item-description') Lorem, ipsum dolor. 
