section(class='top-slider-thumbs-container')
	div(class='swiper tutorial-single-slider')
		div(class='swiper-wrapper')
			
	div(class='swiper tutorial-thumbs-slider')
		div(class='swiper-wrapper')
			