section(class='tutorial-slider-category-container')
	h2(class='tutorial-slider-category-container__title') Step-by-Step Guides
	div(class='swiper tutorial-category-slider')
		div(class='swiper-wrapper')
			