section(class='top-slider-thumbs-container')
	div(class='swiper tutorial-single-slider')
		div(class='swiper-wrapper')
			-for(let i=1; i <=10; i++)
				div(class='swiper-slide tutorial-single-slider__item')
					div(class='tutorial-single-slider__container')
						img(src="images/bitcoin-bg-video.webp", class='tutorial-single-slider__bg-img' alt="")
						h1(class='tutorial-single-slider__title') Item #{i}
	div(class='swiper tutorial-thumbs-slider')
		div(class='swiper-wrapper')
			-for(let i = 1; i<=10; i++ )
				div(class='swiper-slide tutorial-thumbs-slider__item')
					img(src="images/thumbnail.webp", alt="")
					div(class='tutorial-thumbs-slider__text-container')
						span(class='tutorial-thumbs-slider__item-title') Lorem ipsum dolor sit amet item #{i}
						span(class='tutorial-thumbs-slider__item-description') Lorem, ipsum dolor. 
