extends ../config/template
append config
	-currentPage		= "betanysports"
	-siteName			= 'Video Tutorials'
	-content			= 'content'
	-pageDescription	= 'Video Tutorials to know how to use BetAnySports'
block main-header
block main-container
	include ../components/tutorial-thumbs-slider-container
	include ../components/tutorial-category-slider
	//- include ../components/tutorial-category-slider
	//- include ../components/tutorial-category-slider
	//- include ../components/tutorial-category-slider
	//- include ../components/tutorial-category-slider
block main-footer
block scripts
