//layout
:root {
	--header-height 		: 3rem;
	@include from(l) {
		--header-height 	: 4rem;
	}
	//native color vars	
	--header-bg      		: #007BDF;
	--body-bg      			: #ffffff;
	--footer-bg      		: #000000;

}
*,
*::before,
*::after {
	box-sizing: border-box;
}

::selection {
	color: white;
	background: #00CBFF;
}

strong {
	font-weight 	: 700;
}

body {
	margin         	: 0;
	min-height     	: calc(100vh - var(--header-height));
	background 		: var(--body-bg);
	display        	: flex;
	flex-direction 	: column;
}
.main-header{
	background: rgba(0, 0, 0, 0.50);
	backdrop-filter: blur(2px);
	min-height     	: var(--header-height);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	
}
.main-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main-footer {
	background 		: var(--footer-bg);
	color      		: #FFF;
	padding    		: 15px;
	margin-top 		: auto;
	min-height		: 90px;
	display: flex;
	align-items: center;
	justify-content:center;
	@include from(m){
		min-height: 180px;
	}
	&__copy{
		color: var(--Color-Alias-Text-Inverted, #F4F4F4);
		text-align: center;
		font-family: Montserrat;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
}
