//layout
:root {
	--header-height 		: 3rem;
	@include from(l) {
		--header-height 	: 4rem;
	}
	//native color vars	
	--header-bg      		: #007BDF;
	--body-bg      			: #ffffff;
	--footer-bg      		: #007BDF;

}
*,
*::before,
*::after {
	box-sizing: border-box;
}

::selection {
	color: white;
	background: #00CBFF;
}

strong {
	font-weight 	: 700;
}

body {
	margin         	: var(--header-height) 0 0 0;
	min-height     	: calc(100vh - var(--header-height));
	background 		: var(--body-bg);
	display        	: flex;
	flex-direction 	: column;
}
.main-header{
	background 		: var(--header-bg);
	min-height     	: var(--header-height);
	position: fixed;
	top: 0;
	width: 100%;
	
}
.main-container{}
.main-footer {
	background 		: var(--footer-bg);
	color      		: #FFF;
	padding    		: 2rem 0;
	font-size  		: fontSize(small);
	margin-top 		: auto;
}
