:root {
	--header-color			: #1F2024;
	--paragraph-color		:#1F2024;
	
}

h1, h2, h3, h4, h5, h6{
	color					: var(--header-color);
	margin					: 0;
}

// Default text styles
body {font-family: 'Inter' }
h1{
	font					: normal normal 600 36px/43px Inter;
	letter-spacing			: -0.72px;	
	@include from (l){
		font				: normal normal 600 51px/56px Inter;
		letter-spacing		: -0.66px;
	}	
}
h2{
		font				: normal normal 600 29px/35px Inter;
		letter-spacing		: -0.58px;
	
	@include from (l){
		font				: normal normal 600 41px/49px Inter;
		letter-spacing		: -0.82px;
	}
	
}
h3{
		font				: normal normal 600 24px/29px Inter;
		letter-spacing		: -0.48px;
		
	@include from (l){		
		font				: normal normal 600 27px/32px Inter;
		letter-spacing		: -0.54px;
	}
	
}
h4{
		font				: normal normal 600 20px/28px Inter;
		letter-spacing		: -0.4px;	
	@include from (l){
		font				: normal normal 600 23px/28px Inter;
		letter-spacing		: -0.46px;		
	}
	
}
h5{
	font					: normal normal 600 17px/27px Inter;
	letter-spacing			: -0.34px;
		
	@include from (l){
		font				: normal normal 600 19px/23px Inter;
		letter-spacing		: -0.38px;		
	}
	
}
h6{
		font				: normal normal 600 14px/25px Inter;
		letter-spacing		: -0.28px;
	
	@include from (l){
		font				: normal normal 600 15px/27px Inter;
		letter-spacing		: -0.3px;		
	}	
}
p{
	font					: normal normal normal 15px/27px Inter;
	letter-spacing			: 0px;
	--paragraph-color		:#1F2024;
	@include from (l){
		font				: normal normal normal 16px/22px Inter;
		letter-spacing		: 0px;
	}
}
a {
	text-decoration : none;  
	&:hover { text-decoration : underline }
}
img {
	max-width : 100%;
	height    : auto;
}
